.clock label {
  padding-bottom: 16px;
}

.clock-time {
  font-size: 80px;
  font-weight: 600;
  color: #d4be98;
  margin-top: -16px;
}

.clock-date {
  font-weight: 600;
  color: #d8a657;
  margin-bottom: -1px;
  padding-top: 8px;
}